body {
    font-family: 'Josefin Sans', sans-serif;
    bottom: 0px;
}

.tableau {
    width: 80%;
    margin: auto;
    top: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    bottom: 50px;
}

.p {
    font-size: 25px;
}

.navHeader {
    position: fixed;
    background-color: rgb(148, 148, 148);
    width: 100%;
    padding-top: 0px;
    color: black;
    font-size:20px;
    right: 0px;
    top: 0px;
    display: flex;
    text-transform: uppercase;
    z-index: 1;
}

li a:hover {
    background-color: #111111;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 20px;
    top: 0px;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

.footer {
    width: 100%;
    background-color: rgb(148, 148, 148);
    height: 50px;
    left: 0px;
    right: 0px;
    color: white;
    text-align: left;
    bottom:0px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


